body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* To prevent scrollbars */
    background: url('/src/assets/imgs/grass_background.png') no-repeat center center fixed;
    background-size: cover;
  }
  